@import "tailwindcss";

:root {
    --bg-dark: #09090b;
}

body {
    background-color: var(--bg-dark);
    color: #e4e4e7;
    font-family: sans-serif;
    min-height: 100vh;
}

.bg-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.05;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    filter: contrast(170%) brightness(100%);
}
